html, body, #root, .App {
    height: 100%;
}

.plotContainer {
    height: 100%;
    width: 100%;
}

/* explicative text above plots */
.plotContainer p {
    font-size: larger;
    font-style: italic;
    text-align: justify;
}

.plotContainer h1 {
    text-align: center;
}

/* all buttons */
.btn {
    size: large;
}

/* buttons in navbar */
.navbar .btn {
    color: white
}

/* login teacher */
@media all and (min-width: 480px) {
    .login {
        padding: 60px 0;
    }

    .login form {
        margin: 0 auto;
        max-width: 320px;
    }
}

.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
